li{
  display: inline-block;
}
.left{
  float: left;
  width: 15%;
}
.article-container article{
  width: calc(85%/3);
  float: left;
}
.article-right{
  display: flex;
  justify-content: flex-end;
  width: 85%;
}
